{% extends "app/base.html" %}
{% block content %}
    <h1>My Favourites</h1>
    {% for data in content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ data }}</a>
                <small class="text-success">(1.01%)</small>
                <a onclick="remstock('{{ data.ticker }}')"" href="#" class="float-right fa fa-minus-circle text-danger rem-fav-stock"></a>
            </div>
            <h5><a class="article-title" href="#">{{ data.name }}</a></h5>
        </div>
    </article>
    {% endfor %}

    <hr/>
    <h1>Recent Activity</h1>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h3><a class="article-title" href="#">Apple Inc.</a></h3>
                <small>khalidh</small>
                <small class="text-muted">posted Jan. 02, 2020</small>
            </div>

            <p class="article-content mt-3">This is a pretty good stock guys!</p>
        </div>
    </article>

{% endblock content %}
