{% extends "app/base.html" %}
{% block content %}
    <h1>My Favourites</h1>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h3><a class="article-title" href="#">Tesla, Inc</a></h3>
                <small>graems</small>
                <small class="text-muted">posted Jan. 01, 2020</small>
            </div>

            <p class="article-content mt-3">Tesla stock overpriced imo</p>
        </div>
    </article>

{% endblock content %}
