{% extends "app/home.html" %}

{% block args %}

<div>
  {% for key, info in args.items%}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="/simulate/{{info.symbol}}">{{info.symbol}}</a>
                <a class="float-right fa fa-star text-warning cur-pointer"></a>
            </div>

            <!--hidden input and the button hold values that are passed to the simulate function-->
            
            <h4><a class="article-title cur-pointer" href="/simulate/{{info.symbol}}">{{info.name}} {{info.exchange}}</a></h4>
            

        </div>
    </article>

  {% endfor %}
</div>
{% endblock args %}
