{% extends "app/home.html" %}
{% block results %}
<div>
  {% for key, val in results.items %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'app-simulate' key %}">{{key}}</a>
                {% if user.is_authenticated %}
                  <a onclick="fn('{{key}}', '{{val.name}}')" class="float-right text-warning fa-star {% if val.isFavorite %} fa {% else %} far {% endif %} cur-pointer"></a>
                {% endif %}
            </div>

            <!--hidden input and the button hold values that are passed to the simulate function-->
            
            <h4><a class="article-title cur-pointer" href="{% url 'app-simulate' key %}">{{val.name}} {{val.exchange}}</a></h4>


        </div>
    </article>
  {% endfor %}
</div>
{% endblock results %}
