{% extends "app/base.html" %}
{% block content %}
  {% block stockInfo %}
    <div class="d-inline">
        <h1 class="d-inline-block">{{stockInfo.name}} </h1>
        <h1 class="fa fa-star text-warning d-inline-block"></h1>
    </div>
    <br/>

    <div class="d-inline">
        <h3 class="d-inline-block">{{stockInfo.symbol}} </h3>
        <h3 class="{% if stockInfo.change > 0 %}text-success{% elif stockInfo.change < 0 %}text-danger{% endif %} d-inline-block">({{stockInfo.change}}%)</h3>
    </div>
  {% endblock stockInfo %}
    <hr/>
    <div class="content-section">
        <div style="height: 500px"></div>
    </div>
    <hr/>
    <h1>Comments</h1>
    {% block commentInfo %}
      {% for key, comment in commentInfo.items %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <small>{{comment.user}}</small>
                    <small class="text-muted">{{comment.date}}</small>
                </div>
                <p class="article-content mt-3">{{comment.content}}</p>
            </div>
        </article>
      {% endfor %}
    {% endblock commentInfo %}

{% endblock content %}
