{% extends "app/base.html" %}
{% block content %}
    <div class="d-inline">
        <h1 class="d-inline-block">Apple Inc. </h1>
        <h1 class="fa fa-star text-warning d-inline-block"></h1>
    </div>
    <br/>
    <div class="d-inline">
        <h3 class="d-inline-block">AAPL </h1>
        <h3 class="text-success d-inline-block">(1.01%)</h3>
    </div>
    <hr/>
    <div class="content-section">
        <div style="height: 500px"></div>
    </div>
    <hr/>
    <h1>Comments</h1>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <small>khalidh</small>
                <small class="text-muted">posted Jan. 02, 2020</small>
            </div>
            <p class="article-content mt-3">This is a pretty good stock guys!</p>
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <small>graems</small>
                <small class="text-muted">posted Jan. 01, 2020</small>
            </div>
            
            <p class="article-content mt-3">Tesla stock overpriced imo</p>
        </div>
    </article>

{% endblock content %} 